<html th:replace="~{base::Layout(~{::main})}">
   <body>
       <main>
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
           <div class="row py-5 my-5">
                <div class="col-md-6 text-center py-5 wy-25 ">
                   <span class="d-block text-secondary py-4">EXPLORE COLLECTION</span>
                   <h1 class=" fw-bold mb-3 display-3 " style="font-size: 90px;">Wear Your Story With Pride</h1>
                   
                   <p class="text-secondary mx-auto w-75 py-4">Curated fashion that bridges the timeless craft of Indian tradition with the clean lines of contempoorary style.</p>
                    <button type="button" class="btn btn-dark text-start my-3">EXPLORE COLLECTION</button>
                    <button type="button" class="btn btn-outline-secondary text-end">Our Story</button>
                    <hr>
                    <div class="row text-center py-3">
                        <div class="col-md-4">
                             <h1 class="fw-semibold">500<span class="fw-light"><sup>+</sup></span></h1>
                             <p class="text-uppercase text-secondary">Products</p>
                        </div>
                        <div class="col-md-4">
                             <h1 class="fw-semibold">12K<span class="fw-light"><sup>+</sup></span></h1>
                             <p class="text-uppercase text-secondary">Happy Customers</p>
                        </div>
                        <div class="col-md-4">
                             <h1 class="fw-semibold">4.9 &#9733;</h1>
                             <p class="text-uppercase text-secondary">Average Rating</p>
                        </div>
                    </div>
                   
                 </div>
                
                 <div class="col-md-6 d-inline-block p-5 back  mx-auto mb-3 rounded text-center  backwidth" style=" background-color: #fff0f5 ;" >
                   <img alt="image not found" src="images/slider-hero.png" class="img-thumbnail w-90  "/>
                   
                 </div>
                 <p style="color: #f8d7da">Antar Collection</p>
          </div>
          
         <div class="feature-strip "style="background: black">
             <div class="container text-white d-flex justify-content-center align-items-center gap-5 py-3">
                  <div class="strip-feature">
                      <i class="fa-solid fa-arrow-right"></i>
                      FREE SHIPPING OVER &#8377;5,000
                  </div>
                  <div class="strip-feature">
                       <i class="fa-solid fa-arrow-rotate-right"></i>
                       EASY 30-DAY RETURNS
                  </div>
                  <div class="strip-feature">
                      <i class="fa-solid fa-box-archive"></i>
                      SECURE PAYMENT
                  </div>
                  <div class="strip-feature">
                       <i class="fa-solid fa-phone"></i>
                       24/7 CUSTOMER SUPPORT
                  </div>
             </div>
          </div>
          
          <!-- Shop by categary start -->
          <div class="row featured pt-5 my-4 py-4">
                    <div class="col-sm-10 mx-auto">
                        <div class="heading">
                           <p>BROWSE BY</p>
                           <h1>Shop By Category</h1>
                           <hr class="w-25 mx-auto">
                           
                        </div>
                        <div class="row py-2">
                             <!--category card start-->
                             <div class="col-sm-3">
                                <div class="card shadow-lg border border-1 border-light mx-auto featurecard position-relative p-2">
                                   <img src="images/ethnic4.png" class="img-fluid">
                                   <h5 class="pt-2">Ethnic Wear</h5>
                                   <p>MANY PRODUCTS</p>
                                   
                                </div>
                             </div>
                             <div class="col-sm-3">
                                <div class="card shadow-lg border border-1 border-light mx-auto featurecard position-relative p-2">
                                   <img src="images/ethnic4.png" class="img-fluid">
                                   <h5 class="pt-2">Shirts</h5>
                                   <p>MANY PRODUCTS</p>
                                </div>
                             </div>
                             <div class="col-sm-3">
                                <div class="card shadow-lg border border-1 border-light mx-auto featurecard position-relative p-2">
                                   <img src="images/jacket.png" class="img-fluid">
                                   <h5 class="pt-2">Knitwear</h5>
                                   <p>MANY PRODUCTS</p>
                                </div>
                             </div>
                             <div class="col-sm-3">
                                <div class="card shadow-lg border border-1 border-light mx-auto featurecard position-relative p-2">
                                   <img src="images/Knitwear.png" class="img-fluid">
                                   <h5 class="pt-2">Knitwear</h5>
                                   <p>Classic knitewear</p>
                                </div>
                             </div>
                             <!-- Catrgory card -->
                        </div>
                     </div>
                 </div>       
          
          <!-- Shop by categary end -->
          <div class="row featured py-4">
                    <div class="col-sm-10 mx-auto">
                        <div class="heading">
                           <p>HANDPICK FOR YOU</p>
                           <h1>The Featured Selection</h1>
                           <hr class="w-25 mx-auto">
                           <p>Our most-loved pieces, curated by our stylists for the season. Each garment tells a <br/>story of craftsmanship and style.</p>
                        </div>
                        <div class="row py-2">
                             <!--Featured card start-->
                             <div class="col-sm-3">
                                <div class="card shadow-lg border border-1 border-light mx-auto featurecard position-relative p-2">
                                   <img src="images/knitwear.png" class="img-fluid">
                                   <p class="pt-2">Knitwear</p>
                                   <h5>Vintage Denim jacket</h5>
                                   <p><b>Rs.1</b> <s>Rs.7,499</s> <b class="text-success">100%</b></p>
                                   <p class="text-warning pt-1">
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <span class="text-dark">(5.0/199 ratings)</span>

                                   </p>
                                    <span class="badge bg-dark text-light w-25 featuredis position-absolute">-19%</span>
                                </div>
                             </div>
                             <div class="col-sm-3">
                                <div class="card shadow-lg border border-1 border-light mx-auto featurecard position-relative p-2">
                                   <img src="images/i1.png" class="img-fluid">
                                   <p class="pt-2">SHIRTS</p>
                                   <h5>Classic White Linen Shirt</h5>
                                   <p><b>Rs.2,999</b><s>Rs.3,499</s><b class="text-success">19%</b></p>
                                   <p class="text-warning pt-1">
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <span class="text-dark">(5.0/199 ratings)</span>

                                   </p>
                                    <span class="badge bg-dark text-light w-25 featuredis position-absolute">-19%</span>
                                </div>
                             </div>
                             <div class="col-sm-3">
                                <div class="card shadow-lg border border-1 border-light mx-auto featurecard position-relative p-2">
                                   <img src="images/knitwear.png" class="img-fluid">
                                   <p class="pt-2">SHIRTS</p>
                                   <h5>Classic White Linen Shirt</h5>
                                   <p><b>Rs.2,999</b><s>Rs.3,499</s><b class="text-success">19%</b></p>
                                   <p class="text-warning pt-1">
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <span class="text-dark">(5.0/199 ratings)</span>

                                   </p>
                                    <span class="badge bg-dark text-light w-25 featuredis position-absolute">-19%</span>
                                </div>
                             </div>
                             <div class="col-sm-3">
                                <div class="card shadow-lg border border-1 border-light mx-auto featurecard position-relative p-2">
                                   <img src="images/knitwear.png" class="img-fluid">
                                   <p class="pt-2">SHIRTS</p>
                                   <h5>Classic White Linen Shirt</h5>
                                   <p><b>Rs.2,999</b><s>Rs.3,499</s><b class="text-success">19%</b></p>
                                   <p class="text-warning pt-1">
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <i class="fa-solid fa-star"></i>
                                      <span class="text-dark">(5.0/199 ratings)</span>

                                   </p>
                                    <span class="badge bg-dark text-light w-25 featuredis position-absolute">-19%</span>
                                </div>
                             </div>
                             <!--Featured card end-->
                             <!-- BUTTON  start -->
                              <div class="text-center pt-4">
                               <a class="btn btn-outline-dark">Explore All Produsts<i class="fa-solid fa-arrow-right"> </i></a>
                             </div>
                             <!-- button end -->
                        </div>
                    </div>
                </div>
          
          <!--Story start-->
                  <div class="row story py-4">
                     <div class="col-sm-5 mx-auto story ">
                         <img src="images/story.png" class="img-thumbnail">
                      </div>
                      <div class="col-sm-7">
                         <p class="firstpara">OUR PHILOSOPHY</p>
                         <h1 class="pt-3">Crafted With Intention</h1>
                         <p>At Antar, every garment begins with a story. We source fabrics from <br>master weavers, collaborate with artisans who have perfected their<br> craft over generations, and design pieces that honor heritage while<br> embracing modernity.</p><br><br>

                          <p>Our commitment to quality means every stitch is intentional, every <br>silhouette is considered, and every collection is designed to become<br> part of your story.</p>
                          <div class="text-start pt-5 ">
                                 <a class="btn btn-dark">MEET THE BRANDS<i class="fa-solid fa-arrow-right"> </i></a>
                          </div>
                          
                      </div>
                 </div>
                     
                  
                  <!--Story end-->
           
         
          
       </main>
   </body>
</html>